<article class="article">
  <h3 class="category-count"><%= site.categories.length %> 个分类</h3>
  <% if (site.categories.length){ %>
    <div class="all-categories">
      <%- list_categories({}) %>
    </div>
  <% } %>

  <hr class="category-hr-tag" width="95%" color="#000000" size="3">

  <h3 class="category-count"><%= site.tags.length %> 个标签</h3>
  <% if (site.tags.length){ %>
    <div class="all-tags">
        <%- list_tags({}) %>
    </div>

    <% } %>
</article>